{% extends 'navbar.html' %}
{% load static %}

{% block title %}
	<title>Find Drinks</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css"  href="{% static 'css/styleMichael.css' %}">
{% endblock %}


{% block content %}

<body>
    <div class="find-form">
      <h1>What type of drinks do you want?</h1>
      <form action="" method="POST">
        {% csrf_token %}
        {% for f in form %}
          {{ f.label|linebreaks }}{{ f|linebreaks }}
        {% endfor %}
        <button type="submit" name="submit">Find</button>
      </form>
    </div>
    
    <div class="recommendations">
     <!--  <h1>Recommendations</h1>
      {% if userReqs == None %}
        <h3 class="txt-setting">We are sorry, there aren't any drinks in your area.</h3>	
      {% else %}
      <div class="container">
        <div class="card-columns">
        {% for drink in userReqs %}
          <div class="card mx-auto" style="width: 18rem;">
            <img src="{{ drink.drink_image.url }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ drink }}</h5>
                <p class="card-text">Store: {{ drink.store_name }}</p>
                <p class="card-text">Location: {{ drink.store_location }}</p>
                <p class="card-text">Price: {{ drink.price }}</p>
              </div>
          </div>
        {% endfor %}
        </div>
      </div>
      {% endif %} -->
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/scriptMichael.js' %}"></script>
</body>

{% endblock %}