{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="{% static 'css/style-christo.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/scriptChristo.js' %}"></script>
    <title>List Drinks</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-cream-muda" id="navigation">
    <div id="left-nav">
        <a class="navbar-brand" href="#" id="logo">
            <img src="{% static 'img/logo-kecil.png' %}" alt="" id="logo">
        </a>
    </div>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon" id="tombol-nav"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="navbar-nav ml-auto">
            <a class="nav-link nav-item" href="{% url 'addDrink:add_drink' %}">Add Drink<span class="sr-only">(current)</span></a>
            <a class="nav-link nav-item" href="{% url 'addDrink:all_drink' %}">List Drinks<span class="sr-only">(current)</span></a>
            <a class="nav-link nav-item" href="#">Feedback</a>
            <a class="nav-link nav-item" href="/logout/">Logout</a>
        </div>
    </div>
</nav>
<body class="bg-cream-muda">
    <div class="flex-container column-style" id="list-drink">
        <span class="title">List All Drinks</span>
        <div class="flex-container" id="all-drinks">

        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>