<!DOCTYPE html>
{% load static %}
<html>

<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<title>Register</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light" id="navigation">
	{% block nav-content %}
            

    {% endblock %}
</nav>


<body>
	{% block content %}
            

    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
</body>

<footer>
  <h3>Est. 2019 by FindDrinks</h3>
</footer>