{% extends 'navbar.html' %}
{% load static %}



{% block title %}
    <title>Register</title>
    <link rel="stylesheet" type="text/css"  href="{% static 'css/styleRifqi.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/register.js' %}"></script>
{% endblock %}


{% block content %}
<body>
    <div class="flex-container">
        <form method="POST" class="register_form">
        	{% csrf_token %}
                <h4 id="upper">Start your journey with us!</h4>
                {{ form.as_p }}
                <h6 id="error_msg"></h6>
                <button type="submit" class="btn button-register" id="register_btn">Register</button>
                <h6 id="lower">Already a member? <a href="{% url 'login:loginpage' %}">Login</a> </h6>
        </form>
    </div>     

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
	<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
{% endblock %}