{% extends 'navbar.html' %}
{% load static %}



{% block title %}
    <title>Login</title>
    <link rel="stylesheet" type="text/css"  href="{% static 'css/styleRifqi.css' %}">
{% endblock %}

{% block content %}
<body>
    <div class="flex-container">
        <form method="POST" class="register_form">
            {% csrf_token %}
                <h4 id="upper">Login to continue</h4>
                {{ form.as_p }}
                <button type="submit" class="btn button-register">Login</button>
                <h6 id="lower">Don't have an account? <a href="{% url 'register:register' %}">Create one now</a> </h6>
        </form>
    </div>  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
</body>

{% endblock %}

