{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="{% static 'css/style-christo.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    {% block title %}

    {% endblock %}
</head>
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-cream-muda" id="navigation">
    <div id="left-nav">
        <a class="navbar-brand" href="#" id="logo">
            <img src="{% static 'img/logo-kecil.png' %}" alt="" id="logo">
        </a>
    </div>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon" id="tombol-nav"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="navbar-nav ml-auto">
            <a class="nav-link nav-item" href="{% url 'findDrinks:findDrinks' %}">Find Drink<span class="sr-only">(current)</span></a>
            <a class="nav-link nav-item" href="#">Feedback</a>
            {% if user.is_authenticated %}
            <a class="nav-link nav-item" href="/logout/">Logout</a>
            {% else %}
            <a class="nav-link nav-item" href="{% url 'login:loginpage' %}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>
{% block content %}


{% endblock %}

<footer>
    <h3>Est. 2019 by FindDrinks</h3>
</footer>
</html>