body {
	background-color: #FFF7C6;
	font-family: 'Roboto', sans-serif;
	color: #000000;
}

.btn {
	align-items: center;
	margin-top: 10px;
	background-color: #ADD8E6;
	color: white;
	border-radius: 50px;
	font-size: 13px;
	width: 40%;
}

.button-register {
	background-color: #ADD8E6;
}

.button-register:hover {
	background-color: #ADD8E655;
	color: #ADD8E6;
	border: 1px solid #ADD8E6;
}

body > div > form > button {
	border-radius: 50px;
}


#register{
	width:100%;
	height:100vh;
}
.flex-container{
	height: 100vh;
	width: 100%;
	display:flex;
	padding:20px;
	justify-content: center;
	align-items: center; 
}

#upper {
	font-size: 20px;
	margin-bottom: 30px;
}

#lower {
	font-size: 13px;
	margin-top: 5px;
	margin-bottom: 0;
}

#lower a {
	color: black;
	text-decoration: underline;
	margin-bottom: 
}

#lower a:hover {
	color: #ADD8E6;
}
.register_form {
	background-color: #FFFCE8;
	border-radius: 20px;
	box-shadow: 0 0 5px #ADD8E6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px;
}

.register_form p {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.register_form ul .errorlist {
	color: red;
}

body > div > form > p label {
	margin-bottom: 0;
	font-size: 13px;
}

.register_form p input {
	border-radius: 5px;
}

#form-register{
	width:100%;
}
.txt-setting{
	margin:0px 14px;
	text-align: center;
}

.bgform {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #FFFCE8;
	background-position: fixed;
	background-attachment: cover;
	padding: 0px;
	width:100%;
}


.navbar > .container-fluid {
	align-items: flex-end;
}

.navbar-brand img {
	width: 180px
}
.navbar-right{
	flex-direction: row;
}

.navbar-right li {
	margin-right: 30px;
}

.navbar-right a{
	color: black;
}
.recommendations{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	margin: 40px auto;
	font-size: 14px;
	border-radius: 5px;
}
#id_sugarRate, #id_hotOrIce, #id_blendOrBrew{
	background-color: snow;
}

.find-form {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	margin: 130px auto 60px;
	font-size: 14px;
	border-radius: 5px;
}

.find-form h1, .recommendations h1 {
	font-size: 20px;
	margin-bottom: 50px;
	font-weight: bold;
}

.find-form input, select {
	border-radius: 5px;
}

.find-form select {
	width: 200px;
}

.find-form p {
	font-size: 16px;
}

.find-form button {
	width: 70px;
}

.find-form {
	width: 400px;
	background-color: #FFFCE8;
	padding: 50px 0;
}

footer {
	display: flex;
	flex-flow: column wrap;
	height: 70px;
	font-style: italic;
	background-color: #86C5D8;
	padding-top: 25px;
}
footer h3 {
	font-size: 20px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}

@media only screen and (max-width: 768px) {
	.register_form {
		background-color: #FFFCE8;
		width: 100%;
		height: 80%;
	}

	.btn {
		width: 90px;
	}
}

@media only screen and (max-width: 400px) {
	.register_form {
		background-color: #FFFCE8;
		width: 100%;
		height: 80%;
	}

	.btn {
		width: 90px;
	}

	#upper {
		font-size: 17px;
	}

	.find-form {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		margin: 60px auto;
		font-size: 14px;
		border-radius: 5px;
	}

	.find-form h1 {
		font-size: 12px;
		margin-bottom: 50px;
		font-weight: bold;
	}

	.find-form input, select {
		border-radius: 5px;
	}

	.find-form select {
		width: 100px;
	}

	.find-form p {
		font-size: 12px;
	}

	.find-form button {
		width: 50px;
	}

	.find-form {
		width: 200px;
		background-color: #FFFCE8;
		padding: 50px 0;
	}
}
