body{
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}
p{
    margin: 0px;
}
.flex-container{
    display:flex;
    align-items: center;
    justify-content: center;
}
.row-style{
    flex-direction:row;
}
.column-style{
    flex-direction:column;
}
.bg-skyblue-tua{
    background-color: #86c5d8;
    background-attachment: fixed;
    background-size: cover; 
}
.bg-skyblue-muda{
    background-color:#add8e6;
    background-attachment: fixed;
    background-size:cover;
}
.bg-cream-muda{
    background-color:#fff7c6;
    background-attachment: fixed;
    background-size:cover;
}
.bg-cream{
    background-color:#fffce8;
    background-attachment: fixed;
    background-size:cover;
}
.nav-item{
    margin-top: 12px;
    margin-bottom: -10px;
}
#logo{
    width:269px;
    height:90px;
}
#list-drink{
    padding:20vh 20px 20px;
}
#add-drink{
    padding:20vh 20px 20px;
}
.title{
    font-size:35px;
}
.subtitle{
    font-size:25px;
}
.isian-form{
    align-items:flex-start;
}
#addDrink-form{
    width:450px;
    height:900px;
    border:1px solid;
    border-radius:5px;
    border-color:black;
    padding:15px 0px;
}
.dropdown-item{
    width:200px;
    border:1px solid;
    border-radius:5px;
    padding-left:5px;
}
#id_category{
    background-color:snow ;
    color:black;
}
#id_flavor{
    background-color:snow ;
    color:black;
}
#id_sugar_rate{
    background-color:snow ;
    color:black;
}    
#id_hot_or_ice{
    background-color:snow ;
    color:black;
}
#id_blend_or_brew{
    background-color:snow ;
    color:black;
}
.txt-form{
    width:100%;
    border-radius:4px;
    padding-left:5px;
}
.tombol{
    background-color:#add8e6;
    color:white;
    width:80px;
    border-radius:10px;
}
#add-btn{
    margin-top:15px;
    justify-content:center;
    width:100%;
}
footer {
	display: flex;
	flex-flow: column wrap;
	height: 70px;
	font-style: italic;
	background-color: #86C5D8;
	padding-top: 25px;
}
footer h3 {
	font-size: 17px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}

@media screen and (max-width: 768px){
    .title{
        font-size:30px;
    }
    .subtitle{
        font-size:20px;
    }
    #addDrink-form{
        width:100%;
        height:100%;
    }
    #add-drink{
        margin-top:5vh;
    }
    #logo{
        width:230px;
        height:65px;
    }
    .txt-form{
        width:90%;
    }
    .isian-form{
        padding-left:10px;
        width:100%;
    }
}
